absl-py==0.10.0
aiohttp==3.6.3
argon2-cffi==20.1.0
astor==0.8.1
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
attrs==20.2.0
backcall==0.2.0
biopython==1.78
bleach==3.2.1
blinker==1.4
cachetools==4.1.1
certifi==2020.12.5
cffi==1.14.3
chardet==3.0.4
click==7.1.2
cloudpickle==1.6.0
colorama==0.4.4
commonmark==0.9.1
conda==4.8.5
conda-package-handling==1.7.0
cryptography==2.9.2
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
einops==0.3.0
entrypoints==0.3
flake8==3.8.4
fsspec==0.8.5
future==0.18.2
gast==0.3.3
google-auth==1.22.1
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
graphviz==0.16
grpcio==1.31.0
h5py==2.10.0
idna==2.9
importlib-metadata==2.0.0
ipykernel==5.3.4
ipympl==0.5.8
ipython==7.18.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.17.2
Jinja2==2.11.2
joblib==0.17.0
json5==0.9.5
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.6.3
jupyterlab==2.2.8
jupyterlab-latex==2.0.0
jupyterlab-pygments==0.1.2
jupyterlab-server==1.2.0
Keras==2.4.3
Keras-Preprocessing==1.1.0
kiwisolver==1.2.0
mamba==0.5.3
Markdown==3.3.1
MarkupSafe==1.1.1
matplotlib==3.3.2
mccabe==0.6.1
mistune==0.8.4
mkl-service==2.3.0
multidict==4.7.6
nbclient==0.5.0
nbconvert==6.0.7
nbformat==5.0.7
nbresuse==0.3.6
nest-asyncio==1.4.1
notebook==6.1.4
numpy==1.19.1
numpy-indexed==0.3.5
oauthlib==3.1.0
olefile==0.46
opt-einsum==0+untagged.61.gd905544.dirty
packaging==20.4
pandas==1.1.3
pandocfilters==1.4.2
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.0.0
pretty-errors==1.2.19
prometheus-client==0.8.0
prompt-toolkit==3.0.7
protobuf==3.13.0
psutil==5.7.2
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycosat==0.6.3
pycparser==2.20
pyflakes==2.2.0
Pygments==2.7.1
PyJWT==1.7.1
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyrsistent==0.17.3
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
pyzmq==19.0.2
requests==2.23.0
requests-oauthlib==1.3.0
rich==9.9.0
rsa==4.6
ruamel-yaml==0.15.87
scalene==1.1.14
scikit-learn==0.24.1
scipy==1.5.2
Send2Trash==1.5.0
six==1.14.0
skorch==0.10.0
tabulate==0.8.9
tensor-sensor==0.1.1
tensorboard==2.3.0
tensorboard-plugin-wit==1.6.0.post3
tensorflow==2.2.0
tensorflow-estimator==2.2.0
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
threadpoolctl==2.1.0
torch==1.7.1
torchsummary==1.5.1
torchsummaryX==1.3.0
torchvision==0.7.0
tornado==6.0.4
tqdm==4.46.0
traitlets==5.0.4
typing-extensions==3.7.4.3
urllib3==1.25.8
vit-pytorch==0.7.3
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
yapf==0.30.0
yarl==1.6.2
zipp==3.3.0
